*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.primary_btn{
    background-color: cornflowerblue;
    color: black;
    padding: 8px 14px;
    border: none;
    box-shadow: 0 0 5px black;
    transition: 0.2s;
}
.primary_btn:hover{
    background-color: rgb(42, 101, 231);
    color: white;
    transform: scale(1.05);
}
#cardContainer